<nav>
    
    <a href="/">Homepage</a>
    <a href="/valley">The Valley</a>
    <a href="/authors">Authors</a>
    <% if (user){ %>
    <a href="/dashboard">Dashboard</a>
    <a href="/mylibrary">My Library</a>
    <a href="/valley/new">Contribute B</a>
    <a href="/authors/new">Contribute A</a>
    <a href="/auth/sign-out">Logout</a>

    <% } else{ %>
    <a href="/auth/sign-up">Sign up</a>
    <a href="/auth/sign-in">Sign in</a>

    <% } %>
    
</nav>
