<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookHub | Authors</title>
    <link rel="icon" href="/images/BookHub-logo-mini.png" type="image/png">
    <link rel="stylesheet" href="/css/style-for-all.css">
</head>

<body>

    <%- include("../partials/navbar") %>

        <h1>Find your favourite Authors</h1>

        <% for(let oneAuthor of authors){ %>
            <img src="/images/<%=oneAuthor.profilePhoto%>" alt="profilePhoto" style="width: 90px; height: 120px; object-fit: cover;">
            <a href="/authors/<%=oneAuthor._id%>"><%= oneAuthor.authorName %></a>
        
        <% } %>

</body>

</html>