<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookHub | Add Author</title>
    <link rel="icon" href="/images/BookHub-logo-mini.png" type="image/png">
    <link rel="stylesheet" href="/css/style-for-all.css">
</head>

<body>

    <%- include("../partials/navbar") %>

        <h1>Contribute by adding a new Author</h1>

        <form action="/authors" method="post">

            <label for="authorName">Author Name:</label>
            <input type="text" name="authorName" id="authorName" minlength="3" required>

            <label for="profilePhoto">Add Photo URL</label>
            <input type="text" name="profilePhoto" id="profilePhoto">

            <label for="birthDate">Birth Date:</label>
            <input type="date" name="birthDate" id="birthDate">

            <label for="deathDate">Death Date:</label>
            <input type="date" name="deathDate" id="deathDate">

            <label for="nationality">Nationality:</label>
            <input type="text" name="nationality" id="nationality">

            <button type="submit">Add</button>

        </form>

</body>

</html>