<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="icon" href="/images/main/BookHub-logo-mini.png" type="image/png">
    <link rel="stylesheet" href="/css/style-for-all.css">
    <link rel="stylesheet" href="/css/error404-page.css">
</head>

<body>

    <div class="error-container">

        <img src="/images/main/error-404.png" alt="Error 404">

        <p class="oops">Oops! You've wandered off the path...</p>

        <h1>404.</h1>

        <p class="message">
            This page seems to have vanished between the shelves of BookHub.
            <br>
            Let's guide you back to your next adventure.
        </p>

        <a href="/">Return to BookHub 📖✨</a>

    </div>

</body>

</html>