<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="icon" href="/images/main/BookHub-logo-mini.png" type="image/png">
    <link rel="stylesheet" href="/css/style-for-all.css">
</head>

<body>

    <p>Oops...</p>

    <h1>404.</h1>

    <p>
        Page not found.
        <br>
        The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
    </p>

    <a href="/">Return to BookHub 📖✨</a>

</body>

</html>