body{
    margin:0;
    text-align:center;
}


.dashboard-container{
    width:1100px;
    margin:60px auto;
}


h1{
    font-size:64px;
    color:#6B5A57;
}


h2{
    font-size:40px;
    color:#6B5A57;
    margin-bottom:50px;
}


h3{
    color:#6B5A57;
    font-size:30px;
}


.profile-photo{
    width:180px;
    height:180px;
    object-fit:cover;
    border-radius:50%;
    box-shadow:
    0 15px 35px rgba(0,0,0,.15);
}


.stats-container,
.lists-container{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
    margin-bottom:50px;
}


.stats-card,
.list-card,
.password-card{
    flex:1;
    min-width:400px;
    padding:40px;
    background-color:rgba(255,255,255,.45);
    backdrop-filter:blur(10px);
    border-radius:30px;
    border:2px solid #D6CAE6;
    box-shadow:
    0 15px 35px rgba(0,0,0,.15);
}


.list-card{
    display:flex;
    flex-direction:column;
    gap:15px;
}


.list-card a,
.stats-card a{
    text-decoration:none;
    color:#6B5A57;
    font-size:22px;
}


.list-card a:hover,
.stats-card a:hover{
    color:#A991B8;
}


.stats-card p,
.list-card p,
.password-card p,
.danger-zone p{
    color:#6B5A57;
    font-size:22px;
    line-height:35px;
}


.password-card{
    width:700px;
    margin:50px auto;
}


.password-card form{
    display:flex;
    flex-direction:column;
    gap:20px;
}


label{
    font-size:24px;
    color:#6B5A57;
    font-weight:bold;
}


input{
    padding:18px;
    border:none;
    border-radius:20px;
    font-size:20px;
}


input:focus{
    outline:none;
    border:2px solid #A991B8;
}


button{
    padding:18px;
    margin-top:20px;
    font-size:22px;
    font-weight:bold;
    cursor:pointer;
    color:#6B5A57;
    background-color:#F3D7DD;
    border:2px solid #A991B8;
    border-radius:50px;
    transition:.3s;
}


button:hover{
    background-color:#CFE4D3;
    transform:translateY(-3px);
}


.danger-zone{
    width:700px;
    margin:50px auto;
    padding:40px;
    background-color:#FFF1F1;
    border:2px solid #F3D7DD;
    border-radius:30px;
    box-shadow:
    0 15px 35px rgba(0,0,0,.15);
}


.delete-btn{
    background-color:#D88C8C;
    color:white;
    border:none;
}


.delete-btn:hover{
    background-color:#C86F6F;
}