<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookHub | The Valley</title>
    <link rel="icon" href="/images/BookHub-logo-mini.png" type="image/png">
    <link rel="stylesheet" href="/css/style-for-all.css">
</head>

<body>

    <%- include("../partials/navbar") %>

        <h1>The Little Valley</h1>

        <% for(let oneBook of books){ %>
            <img src="<%=oneBook.coverPhoto%>" alt="coverPhoto">
            <a href="/valley/<%=oneBook._id%>"><%= oneBook.title %></a>
        
        <% } %>

</body>

</html>